@import "variables";
@import "vendor/bootstrap/scss/bootstrap";
@import "bootswatch";

$fa-font-path: "vendor/fontawesome/webfonts";
@import "vendor/fontawesome/scss/fontawesome";
@import "vendor/fontawesome/scss/solid";
@import "vendor/fontawesome/scss/regular";

#login-salsa-logo {
  display: block;
  height: 2em;
}

#main, .page {
  padding-top: 1em;
}

#main img {
  max-width: 100%;
}

a.btn {
  text-decoration: none;
  margin-right: 1em;
}

.navbar {
  background-color: $primary;
  @extend .navbar-dark;
}

// FIXME rewrite in proper SCSS
//////////////////////////////////////////////////////////////////
a {
    color: #d70751;
}
a:hover {
    color: #883535;
}
#main td.title {
    background: #343a40 !important;
}
#main td.title, #main td.title a {
    color: white;
}
//////////////////////////////////////////////////////////////////

// Registration form
$gray-light: $gray-600;

form#register {
  #hidden-next {
    display: none;
  }

  .pgp-fingerprints {
    font-family: monospace;
  }
}

table.register-details {
  @extend .table-striped;
  th {
    max-width: 10rex;
  }
}

table.register-invoice {
  @extend .table;

  tr.line {
    td {
      text-align: right;
    }
    td:first-child {
      text-align: left;
    }
  }
  tr.total td {
    text-align: right;
  }
}
ol.registration-steps {
  li.current-step {
    font-weight: bold;
  }
  li:not(.current-step) {
    a.inaccessible-step {
      color: $gray-light;
    }
  }
}

// Front Desk interface
.boolean {
  .fa {
    font-size: 150%;
  }

  .fa-check-circle {
    color: green;
  }

  .fa-times {
    color: red;
  }
}

.not-paid {
  color: red;
  font-weight: 900;
}

li.invoice {
  @extend .alert;
}
li.invoice-draft {
  @extend .alert-danger;
}
li.invoice-pending {
  @extend .alert-warning;
}
li.invoice-paid {
  @extend .alert-success;
}

#main table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  td, th {
    padding: 5px;
    border: 1px solid #babdb6;
  }
  td.scheduleslot,
  th.scheduleslot-header {
    width: 12ch;
    hr {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
  td.scheduleslot {
    .local_time {
      font-weight: bold;
    }
    .dc_time {
      color: #666;
    }
  }
}

// sponsors block
section.wafer-sponsors {
  a {
    height: 100%;

    img {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 90%;
      max-width: 60vw;
      height: 90%;
    }
  }

  .col-lg-6 {
    margin-bottom: 30px;
  }

  .col-lg-12 {
    margin-bottom: 30px;
  }

  .row {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
  }

  .sponsors-platinum {
    height: 10rem;
    img {
      max-width: none;
    }
  }

  .sponsors-gold {
    height: 8rem;
  }

  .sponsors-silver {
    height: 6rem;
  }

  .sponsors-bronze {
    height: 4rem;
  }

  .sponsors-supporter {
    height: 3rem;
  }

  .sponsor-us {
    border-style: dotted;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    height: 5rem;

    @include media-breakpoint-down(xs) {
      font-size: 0.8em;
    }
  }
}

@import "local";

// vim: set et ts=2:
