{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}{{ WAFER_CONFERENCE_NAME }} Badge{% endblock %}</title>
    {% compress css %}
      <link type="text/x-scss" href="{% static 'badges.scss' %}" rel="stylesheet" />
    {% endcompress %}
  </head>
  <body>
    {% block body %}
    {% endblock body %}
  </body>
</html>
