{% extends 'wafer/base.html' %}
{% load countries %}

{% block content %}
<h1>Conference Statistics</h1>
<ul>
  {% if USING_REGISTER_APP %}
  <li><a href="{% url 'register-statistics' %}">Registration Statistics</a></li>
  {% endif %}
  <li><a href="{% url 'content-statistics' %}">Content Statistics</a></li>
  {% if USING_VOLUNTEERS_APP %}
  <li><a href="{% url 'wafer_volunteer_statistics' %}">Volunteer Statistics</a></li>
  {% endif %}
</ul>
{% endblock content %}
